{% extends "base.html" %}
{% block title %}Contributions{% endblock %}
{% block content %}
<h1>Contributions</h1>
<h2>Advisors</h2>
<ul>
    <li>Dr Hanh Pham</li>
    <li>Dr Vincent Liao</li>
</ul>
<h2>Collaborators</h2>
<ul>
    <li>Beltran, Jared - Team Lead | Backend development | CS Major </li>
    <li>Baez, Rodolfo - Frontend development | CS Major</li>
    <li>Guinto, Nicholas - Backend development | Database manager | CS Major </li>
    <br>
    <li>Lopez, Kevin - Student Advisor | CE Major </li>
    <li>Attristain, Edward - Assistant Student Advisor | CE Major </li>
</ul>
{% endblock %}